<header id="header-alt" class="site-header-alt">
  {% assign img_path_is_not_empty = include.img_path | is_not_empty %}
  {% if img_path_is_not_empty %}
  <div id="header-bg" class="site-header-bg" style="background-image:url('{{ include.img_path | relative_url }}')"></div>
  {% assign bg_img_is_not_empty = include.site.header.bg_img | is_not_empty %}
  {% elsif bg_img_is_not_empty %}
  <div id="header-bg" class="site-header-bg" style="background-image:url('{{ include.site.header.bg_img | relative_url }}')"></div>
  {% endif %}
  <nav id="single-navigation" class="site-navigation-alt" aria-label="Main Navigation">
    <a class="home-link" href="{{ '/' | relative_url }}"><span class="icon-arrow-left"
        aria-hidden="true"></span> All Articles</a>
  </nav><!-- .site-navigation-alt -->
</header><!-- .site-header-alt -->
