---
layout: body
---
<script src="https://kit.fontawesome.com/2286240cd3.js" crossorigin="anonymous"></script>

  {% include header.html site=site page=page img_path=site.header.bg_img %}
  <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@stefan1980bln?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Stefan Zahn"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Stefan Zahn</span></a>
  <div id="content" class="site-content">
    <main id="main" class="site-main inner">


     
      <section>
        <article class="c-card">
          <div id="profile_photo"  class="parent" >  
            <div class="left">
              <img style="border: solid 4px #ffd300;border-radius: 12px;" src="/images/kopechli.jpg" alt="kopechliImg"  width="250">
              
            </div>
            <div  class="right">
              <!-- <h2 class="c-card__title">
                Pechlivanidis konstantinos
              </h2> -->
              <div id="qrCode" style="text-align: center;margin: 0px 10px auto;">
                <img src="/images/konstantinos_Pechivanidis.png" alt="kopechli"  width="300">
              </div>
             
              <div class="c-card__body">
                <p class="c-card__intro">
                  <i class="fas fa-at"></i>&nbsp;<a href="mailto:kopechli@gmail.com">kopechli@gmail.com</a><br>
                  <i class="fas fa-link"></i>&nbsp;<a href="https://kopechli.netlify.com/">kopechli.netlify.com</a><br>
                  <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;<a href="https://www.google.com/maps/place/Kordelio-Evosmos+563+34/@40.6692668,22.8755287,15z/data=!3m1!4b1!4m5!3m4!1s0x14a83a14e3513e57:0x1c00bd3033805de0!8m2!3d40.6675252!4d22.8969778">56334 Thessaloniki</a><br>
                  <i class="fas fa-phone-alt"></i>&nbsp;<a href="">6979019436</a><br>
                  <i class="fab fa-skype"></i>&nbsp;<a href="skype:kopechli?call">kopechli</a> 
                </p>
              </div>
            </div>
          </div>  
         <!-- <img src="https://apimeme.com/meme?meme=Chemistry-Cat&top=Technologies+And+Tools&bottom=kopechli&test=1" alt="Chemistry-Cat"> -->
            

          
         
             
             
        </article>
      </section>
      <br><br>
      <section>
        <h3>EDUCATION AND TRAINING</h3>
        <blockquote>
          <b>Bachelor in Information Managment</b>
          <p>East Macedonia and Thrace Institute of Technology, Kavala (Greece)</p>
          <br>
          <b>Signal and Communication School</b>
          <p>Greek Army, Athens (Greece)</p>
        </blockquote>
      </section>
      <br><br>
      <section>
        <h3>WORK EXPERIENCE</h3>
        <blockquote>
          <b>Junior Web Developer</b>
          <p>Aktis Group, Thessaloniki (Greece)</p>
          <br>
          <b>Seasonal employment in car washing business</b>
          <p>Thessaloniki (Greece)</p>
          <br>
          <b>As a second lieutenant</b>
          <p>Army, Athens/Lamia/Skyros (Greece)</p>
          <br>
          <b>ICT help desk agent</b>
            <p>OTE Group, Thessaloniki (Greece)</p>
          <br>
          <b>Seasonal employment in carpet cleaning business</b>
            <p>Thessaloniki (Greece)</p>
          
          <b>Seasonal employment in olive processing plant</b>
            <p>Thessaloniki (Greece)</p>
        </blockquote>
      </section>
      <br><br>
      <section>
        <h3>PERSONAL SKILLS</h3>
        <blockquote>
          <b>Communication skills</b>
          <p>Good listener and open-minded, capable of communicating information with clarity and concision.
            Skills gained through military service and employment in technical support.
          </p>
          <br>
          <b>Organisational / managerial skills</b>
          <p>Good organizational, leadership and tem-leading skills,
            gained through military service as a second lieutenant</p>
        </blockquote>
      </section>
      <br><br>
      <p>Detailed Resume PDF:</p>
      <button class="btn" style="width:100%" onclick="location.href='https://www.dropbox.com/s/bggezqt5fwau2ab/CV-Pechlivanidis.pdf?dl=0';"><i class="fa fa-download"></i> Download</button>
      

    </main><!-- .site-main -->

    {% include footer.html %}

  </div><!-- .site-content -->
